body {
    background-color: #343a40;
}

h4 {
    color: #ffffff;
}

th {
    background-color: #6c757d;
}

#analisador-top-down td {
    color: black;
}

footer {
    color: #ffffff;
}

#interacoes-proximas-footer {
    margin-bottom: 15px;
}